.start {
  display: flex;
  justify-content: flex-end;
  color: #eaeaeb;
  width: 500px;
  margin: auto;
  border: 4px solid #343131;
  background-color: #343131;
}
.image {
  display: grid;
}
.span {
  word-spacing: 3px;
  font-family: "Asap", sans-serif;
}

.battery {
  display: grid;
  grid-template-columns: 20px;
}
.score {
  text-align: center;
  padding: 9px;
  background-color: black;
  width: 487px;
  margin: auto;
  border: 1px solid black;
}
.item1 {
  text-align: center;
  font-family: "Asap", sans-serif;
  text-decoration: underline;
  color:white;
}
p {
  color: white;
}
.icon1 {
  position: absolute;
  top: 8%;
  left: 60%;
  right: 450px;
  margin: auto;
}
.help{
 position: absolute;
    top: 2px;
    right: 0;
    width: 830px;
    height: 100px;
}


.icon4 {
  color: white;
  font-family: "Asap", sans-serif;
  font-size: 20px;
}
.image2{
  position: absolute;
  left: 20%;
  right: 450px;
  margin: auto;
  padding:3px;
}
.khalil{
  padding:2px;
}
.book{
  padding:10px;
}
